<% @topics.each do |topic| %>
	<p><%= topic.name %></p>
		<% topic.subtopics.each do |subtopic| %>
			<ul>	
				<li><%= link_to "#{subtopic.name}", subtopic_path(subtopic.id) %></li>
			</ul>
		<% end %> 
<% end %>

