<div><%= @user.name %></div>
Recent Listings: 
<% @user.listings.each do |listing| %>
	<div><%= link_to "#{listing.title}", listing_path(listing.id) %></div> 
<% end %>


<% if current_user == @user %>
	Your Notifications:
	<% @user.listings.each do |listing| %>
		<%= listing.title %> 
		<br>
		<% if listing.notifications.empty? %>
			No notifications
		<% else %>
			<% listing.notifications.each do |notification| %>
				<%= notification.user.name %>
			<% end %>
		<% end %>
	<% end %>
<% end %>