<center>
	<h1>Connecting Learners:</h1>
	<p><h3>Connect with learners.</h3></p>
	<ul>
	<li>Quickly and easily post what you're looking for in a study partner.</li>
	<li>Search for study buddies that match your criteria.</li>
	<li>Connect</li>
	<li>Learn</li>
	<ul>
</center>
<!-- You've decided to take up formal logic. (You heard it's all the rave amongst philosphers) You're done with college (or never went) and want to learn on your own. Taking the next step, you sign up for an online course. All goes well, until you hit a particular section. The course keeps moving forward, and it become increasingly difficult to find real-time help. This where Connecting Learners comes in. You come here and find someone to talk to about your endeavor.  -->